@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container-img{
    transform: translateX(0dvh);
    height: auto;
    width: 500px;
    position: relative;
    object-fit: cover;
}

.img-fluid{
    border-radius: 1dvh;
    cursor: normal;
}


.a-hover{
    text-decoration: none;
    position: relative;
    color: #2c2c2c;
    transition: color .8s ease-in-out;
}

.a-hover:hover{
    transform-origin: left;
    transform: scaleX(1);
    color: coral;
}

.text-center{
    display: inherit;
    transform: translateY(100px);
}

h1{
    grid-row: 2 / 3;
}
.form-floating{
    
}

@media screen and (min-width: 990px) {
    .container{

    }
    .text-center{
        text-align: center;
    }

}

@media screen and (max-width: 450px){
    .container{
        top: 10dvh;
        left: 0%;
        transform: translate(0%, 0%);
        position: absolute;
    }
    .img-fluid{
        display: none;
    }
    .text-center{        
        text-align: center;
    }

}



