<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="../../icons/user-plus-regular-24.png" type="image/x-icon">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">

</head>
<body>
    <div class="container ">
        <div class="row justify-content-center">
            <h1 class="text-center my-3">Agendar citas</h1>
            <nav class="navbar mb-3">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link text-body" href="./deleteReservation.html">Borrar cita</a></li>
                    <li class="nav-item"><a class="nav-link text-body" href="./updateReservation.html">Actualizar cita</a></li>
                    <li class="nav-item"><a class="nav-link text-body" href="./searchReservation.html">Buscar cita</a></li>
                    <li class="nav-item"><a class="nav-link text-body" id="logout" name="logout" href="../../index.html">Cerrar sesión</a></li>
                </ul>
            </nav>

            <!-- container search id user -->

            <!-- <div class="row my-1 justify-content-center">
                <div class="col d-xs-block col-md-6 col-lg-4 col-xl-4">
                    <input class="form-control" type="text" placeholder="Usuario registrado" aria-label="Usuario" disabled>
                </div>
                <div class="col d-xs-block col-md-6 col-lg-4 col-xl-4"> 
                    <form class="d-flex" role="search" action="">
                        <input class="form-control me-2" type="search" placeholder="ID usuario" aria-label="ID usuario">
                        <button class="btn btn-outline-info" type="submit">Buscar</button>
                    </form>
                </div>
            </div> -->

            <!-- end container search id user -->

 <!-- #region seccion agregar clientes -->
            <div class="row my-1 justify-content-center">
                <div class="col d-xs-block col-md-6 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" placeholder="Nombres" aria-label="Nombres" id="nameClient" name="name_client" required>
                </div>
                <div class="col d-xs-block col-md-6 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos" id="lastNameClient" name="last_name_client" required>
                </div>
            </div>
            <div class="row my-1 justify-content-center">
                <div class="col d-xs-block col-md-6 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" placeholder="Teléfono" aria-label="Teléfono" name="phone-client" id="phone_client" required>
                </div>
                <div class="col d-xs-block col-md-6 col-lg-4 col-xl-4">
                    <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                    <select class="form-select" id="autoSizingSelect" required>
                        <option id="default_gender" name="default_gender" selected>Sexo</option>
                        <option id="gender_1" name="gender1" value="1">Masculino</option>
                        <option id="gender_2" name="gender2" value="2">Femenino</option>
                    </select>
                </div>
            </div>

            <div class="row my-1 justify-content-center">
                <div class="col d-xs-block col-md-6 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" placeholder="Servicio elegido" aria-label="Servicio" id="service" name="service" required>
                </div>
                <div class="col d-xs-block col-md-6 col-lg-4 col-xl-4">
                    <input class="form-control" type="text" placeholder="Precio" aria-label="Precio" id="price" name="price" value="" disabled>
                </div>
            </div>

            <div class="row my-1 justify-content-center">
                <div class="col d-xs-block col-md-6 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" placeholder="Fecha y hora" aria-label="Fecha y hora" id="date_add_reservation" name="date_add_reservation" value="" disabled>
                </div>
                <div class="col d-xs-block col-md-6 col-lg-4 col-xl-4">
                    <input type="text" class="form-control" placeholder="Cita pendiente" aria-label="Estado" id="status" name="status" disabled>
                </div>
            </div>
            
            <div class="row my-3 justify-content-center">
                <div class="d-grid gap-2 col-6 col-md-4 col-lg-3 col-xl-3">
                    <button type="button" class="btn btn-outline-primary">Guardar</button>
                    <button type="button" class="btn btn-outline-danger">Cancelar</button>
                </div>
            </div>

            <!-- button mode night -->

            <!-- <div class="mode">
                <button class="btn-mode" type="button" id="toggleButton"><img src="../../icons/moon-regular-24.png" alt=""></button>
            </div> -->
 <!-- #endregion seccion agregar clientes -->

        </div>
    </div>

    <script>
        function insertCurrentDateAndTime(){
            const currentDate = new Date();
            const arrayDateTime = `${currentDate.getDate()}/${(currentDate.getMonth()+1)}/${currentDate.getFullYear()} - ${currentDate.toLocaleTimeString()}`;
            
            document.getElementById("date_add_reservation").value = arrayDateTime;
        };

        window.onload = function () {
            setTimeout(insertCurrentDateAndTime, 1000);
        }
    </script>
</body>
</html>

