<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar usuario</title>
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../../../icons/add-user.png" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center my-3">Agregar usuario</h1>
            <nav class="navbar mb-3">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link text-body" href="./controlUsers.html">Regresar</a></li>
                    <li class="nav-item"><a class="nav-link text-body" href="./deleteUser.html">Eliminar usuario</a></li>
                    <li class="nav-item"><a class="nav-link text-body" href="./updateUser.html">Actualizar usuario</a></li>
                    <li class="nav-item"><a class="nav-link text-body" id="logout" name="logout" href="../../index.html">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>