<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de usuarios</title>
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../../../icons/adjust.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="row my-3">
            <h1 class="text-center">Panel de usuarios</h1>
        </div>
        <div class="row my-3 justify-content-center">
            <div class="col d-xs-block col-sm-6 col-md-5 col-lg-4 col-xl-3"> 
                <form class="d-flex" role="search" action="">
                    <input class="form-control me-2" type="search" placeholder="ID Usuario" aria-label="ID Usuario">
                    <button class="btn btn-info" type="button" title="Con fecha actual">Buscar</button>
                </form>
            </div>
        </div>
        
        <div class="row">
            <div class="col d-flex justify-content-end gap-3">
                <a type="button" href="../../../index.html" class="btn btn-secondary">Regresar</a>
                <a type="button" href="./addUser.html" class="btn btn-primary">Agregar usuario</a>
                <button type="button" class="btn btn-warning" id="btnUpdateUser" data-bs-toggle="modal" data-bs-target="#modalUpdateUser">Actualizar usuario</button>
                <button type="button" class="btn btn-danger" id="btnDeleteUser" data-bs-toggle="modal" data-bs-target="#modalDeleteUser">Eliminar usuario</button>
            </div>
        </div>

<!-- #region tabla usuarios -->
        <div class="row">
            <div class="col">
                <table class="table table-hover mt-5">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Elegir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>marto21</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>+57 300 123 4567</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="option" id="radioUser1">
                                    <label class="form-check-label" for="radioUser1"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>jabton39</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>+57 301 234 5678</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="option" id="radioUser2">
                                    <label class="form-check-label" for="radioUser2"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>laller09</td>
                            <td>Larry</td>
                            <td>Miller</td>
                            <td>+57 302 245 6789</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="option" id="radioUser3">
                                    <label class="form-check-label" for="radioUser3"></label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <section class="modal-update-user">
            <!-- #region modal actualizar usuario -->
            <div class="modal fade" id="modalUpdateUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Actualizar usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Hola, esto es una prueba</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
                </div>
            </div>
            <!-- #endregion modal actualizar usuario -->
        </section>

        <section class="modal-delete-user">
            <!-- #region modal eliminar usuario -->
            <div class="modal fade" id="modalDeleteUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Hola, esto es una prueba</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
                </div>
            </div>
            <!-- #endregion modal eliminar usuario -->
        </section>
<!-- #endregion tabla usuarios -->
    </div>

    <script src="../../../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>