*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, minmax(1px,1fr));
    grid-template-rows: repeat(auto, minmax(auto, 1fr));
}

h1{
    margin: 1em;
    grid-area: 1 / 1 / auto / 13;
    text-align: center;
}